// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$c-black: rgba(12, 15, 10, 1);
$c-pink: rgba(255, 32, 110, 1);
$c-yellow: rgba(251, 255, 18, 1);
$c-turquoise: rgba(65, 234, 212, 1);
$c-white: rgba(255, 255, 255, 1);
$c-teal-blue: rgba(51, 101, 138, 1);
$c-dark-sky-blue: rgba(134, 187, 216, 1);
$c-dark-slate-grey: rgba(47, 72, 88, 1);
$c-saffron: rgba(246, 174, 45, 1);
$c-giants-oranje: rgba(242, 100, 25, 1);
